*{
     padding: 0;
     margin: 0;
}
body{
    display:  flex;
    align-items: center;
    justify-content: center;
    min-height: 90v;
}
.box{
    height: 500px;
    width: 500px;
    background-color: wheat;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-radius: 30px;
    margin-top: 10px;
}
.result{
    height: 10%;
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
    
}
.result button{
    height: 100%;
    width: 10%;
    border: none;
    background-color: darkgray;
    border-radius: 0px 50px 50px 0px;
}
.result-input{
    width: 90%;
    height: 100%;
    outline: none;
    padding-left: 10px;
    border: none;
     border-radius: 50px 0px 0px 50px;
}
.condition{
    height: 12%;
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(95, 160, 101);
    padding: 0 20px;
    color: white;
    border-radius: 30px;
}
.passbtn{
    height: 8%;
    width: 50%;
    background-color: royalblue;
    color: white;
    margin: 10px;
    border: none;
    border-radius: 50px;
}